{% load static %}
<!-- footer -->
			<footer>
				<div class="container">
					<p><a href="/index">Home</a> | <a href="#work">works</a> | <a href="#team">Team</a> | <a href="/iletisim">İletişim</a></p>
					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/Ramazan38031835"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="https://www.instagram.com/ram_koc/"><i class="fa fa-instagram"></i></a>
					</div>
					<!-- copy right -->
					<!-- This theme comes under Creative Commons Attribution 4.0 Unported. So don't remove below link back -->
					<p class="copy-right">Copyright &copy; 2021 <a href="#">Your Site</a> | Designed By : <a href="https://twitter.com/Ramazan38031835">BenimWeb</a>, All rights reserved. </p>
				</div>
			</footer>
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Respond JS for IE8 -->
		<script src="{% static 'js/respond.min.js' %}"></script>
		<!-- HTML5 Support for IE -->
		<script src="{% static 'js/html5shiv.js' %}"></script>
		<!-- Custom JS -->
		<script src="{% static 'js/custom.js' %}"></script>