{% load static %}
<!-- header -->
			<header>
				<!-- navigation -->
				<nav class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/index">Home</a></li>
								<li><a href="/hakkimizda" class="nav-item nav-link">Hakkımızda</a></li>
									{% load mptt_tags %}
											<li class="dropdown">
												 <a class="dropdown-toggle" data-toggle="dropdown">Yurtiçi<span class="caret"></span></a>
												   <ul class="dropdown-menu" role="menu">
													{% recursetree bölge %}
															<li><a href="/bölge/{{node.slug}}" class="nav-item nav-link">{{node.title}}</a></li>
													{% endrecursetree %}
												   </ul>
											</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown">Yurtiçi<span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="/bölge" class="nav-item nav-link">Akdeniz</a></li>
										<li><a href="/bölge" class="nav-item nav-link">Doğu Anadolu</a></li>
										<li><a href="/bölge" class="nav-item nav-link">Ege</a></li>
										<li><a href="/bölge" class="nav-item nav-link">Güney Doğu Anadolu</a></li>
										<li><a href="/bölge" class="nav-item nav-link">Karadeniz</a></li>
										<li><a href="/bölge" class="nav-item nav-link">Marmara</a></li>
										<li><a href="/bölge" class="nav-item nav-link">İç Anadolu</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Yurtdışı <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#" class="nav-item nav-link">Amerika</a></li>
										<li><a href="#" class="nav-item nav-link">Asya</a></li>
										<li><a href="#" class="nav-item nav-link">Afrika</a></li>
									</ul>
								</li>
								<li><a href="registration.html">Signup</a></li>
								<li><a href="login.html">Login</a></li>
								<li><a href="/iletisim" class="nav-item nav-link">İletişim</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</header>