{% extends "homebase.html" %}

{% block title %}{{setting.title}}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{%block head%}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' /><!--websitemizin iconu-->
{%endblock%}

{% block topbar %}
    {% include "topbar.html" %}
{% endblock %}
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> </li>
                <li class="active">Referanslar</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                {{ setting.references|safe }}
            </div>
        </div>
    </div>
{% endblock %}