{% load static %}
		     <!-- Top/Side Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="index.html">
                                    <h1>Gezelim</h1>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="top-bar-right">
								<div class="social">
									<a href="https://www.facebook.com/Ramazan.Kocak/"><i class="fa fa-facebook"></i></a>
									<a href="https://twitter.com/Ramazan38031835"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="https://www.instagram.com/ram_koc/"><i class="fa fa-instagram"></i></a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top/Side Bar End -->